doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    form(method="post", action="/hipster")
      input(type="text", name="text", placeholder="Type Here")
      input(type="submit")
